  ignore = untracked
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
  ignore = untracked
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
  ignore = untracked
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
  ignore = untracked
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
  ignore = untracked
[submodule "bundle/badwolf"]
	path = bundle/badwolf
	url = https://github.com/sjl/badwolf.git
  ignore = untracked
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
  ignore = untracked
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
  ignore = untracked
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
  ignore = untracked
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
  ignore = untracked
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
  ignore = untracked
[submodule "bundle/rainbow_parens"]
	path = bundle/rainbow_parens
	url = https://github.com/kien/rainbow_parentheses.vim
  ignore = untracked
[submodule "bundle/easy-motion"]
	path = bundle/easy-motion
	url = https://github.com/Lokaltog/vim-easymotion
  ignore = untracked
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/edsono/vim-matchit
  ignore = untracked
[submodule "bundle/coffeescript"]
	path = bundle/coffeescript
	url = https://github.com/kchmck/vim-coffee-script.git
  ignore = untracked
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
  ignore = untracked
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
  ignore = untracked
[submodule "bundle/gist"]
	path = bundle/gist
	url = https://github.com/mattn/gist-vim.git
  ignore = untracked
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
  ignore = untracked
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
  ignore = untracked
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
  ignore = untracked
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
  ignore = untracked
[submodule "bundle/SuperTab"]
	path = bundle/SuperTab
	url = https://github.com/ervandew/supertab.git
  ignore = untracked
[submodule "bundle/markdown-mode"]
	path = bundle/markdown-mode
	url = https://github.com/plasticboy/vim-markdown.git
  ignore = untracked
[submodule "bundle/mustache"]
	path = bundle/mustache
	url = git://github.com/mustache/vim-mustache-handlebars.git
  ignore = untracked
[submodule "bundle/multiple-cursors"]
	path = bundle/multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
	ignore = untracked
  ignore = untracked
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
	ignore = untracked
  ignore = untracked
[submodule "bundle/smartinput"]
	path = bundle/smartinput
	url = https://github.com/kana/vim-smartinput.git
	ignore = untracked
  ignore = untracked
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
  ignore = untracked
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby
  ignore = untracked
[submodule "bundle/vim-vroom"]
	path = bundle/vim-vroom
	url = https://github.com/skalnik/vim-vroom.git
  ignore = untracked
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
  ignore = untracked
[submodule "bundle/tslime"]
	path = bundle/tslime
	url = https://github.com/sjl/tslime.vim.git
  ignore = untracked
[submodule "bundle/vim-fish"]
	path = bundle/vim-fish
	url = https://github.com/dag/vim-fish.git
  ignore = untracked
[submodule "bundle/vim-rspec"]
	path = bundle/vim-rspec
	url = https://github.com/thoughtbot/vim-rspec.git
  ignore = untracked
[submodule "bundle/vim-tbone"]
	path = bundle/vim-tbone
	url = https://github.com/tpope/vim-tbone.git
  ignore = untracked
[submodule "bundle/vim-tmux"]
	path = bundle/vim-tmux
	url = https://github.com/tmux-plugins/vim-tmux.git
  ignore = untracked
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
  ignore = untracked
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
  ignore = untracked
[submodule "bundle/vim-nerdtree-tabs"]
	path = bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
  ignore = untracked
[submodule "bundle/php.vim"]
	path = bundle/php.vim
	url = https://github.com/StanAngeloff/php.vim.git
  ignore = untracked
[submodule "bundle/ListToggle"]
	path = bundle/ListToggle
	url = https://github.com/Valloric/ListToggle.git
  ignore = untracked
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
  ignore = untracked
[submodule "bundle/vimux"]
	path = bundle/vimux
	url = https://github.com/benmills/vimux.git
  ignore = untracked
[submodule "bundle/YankRing.vim"]
	path = bundle/YankRing.vim
	url = https://github.com/vim-scripts/YankRing.vim
  ignore = untracked
[submodule "bundle/vim-sneak"]
	path = bundle/vim-sneak
	url = https://github.com/justinmk/vim-sneak.git
  ignore = untracked
[submodule "bundle/AutoTag"]
	path = bundle/AutoTag
	url = https://github.com/vim-scripts/AutoTag
  ignore = untracked
[submodule "bundle/Vimball"]
	path = bundle/Vimball
	url = https://github.com/vim-scripts/Vimball.git
  ignore = untracked
[submodule "bundle/ingo-library"]
	path = bundle/ingo-library
	url = https://github.com/vim-scripts/ingo-library.git
  ignore = untracked
[submodule "bundle/EnhancedJumps"]
	path = bundle/EnhancedJumps
	url = https://github.com/vim-scripts/EnhancedJumps.git
  ignore = untracked
[submodule "bundle/vim-obsession"]
	path = bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
  ignore = untracked
[submodule "bundle/vim-tmux-navigator"]
	path = bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
  ignore = untracked
[submodule "bundle/Vim-R-plugin"]
	path = bundle/Vim-R-plugin
	url = https://github.com/vim-scripts/Vim-R-plugin.git
  ignore = untracked
[submodule "bundle/cosco.vim"]
	path = bundle/cosco.vim
	url = https://github.com/lfilho/cosco.vim.git
  ignore = untracked
[submodule "bundle/vim-easytags"]
	path = bundle/vim-easytags
	url = https://github.com/xolox/vim-easytags.git
  ignore = untracked
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
  ignore = untracked
[submodule "bundle/TaskList.vim"]
	path = bundle/TaskList.vim
	url = https://github.com/vim-scripts/TaskList.vim
  ignore = untracked
[submodule "bundle/vim-pencil"]
	path = bundle/vim-pencil
	url = https://github.com/reedes/vim-pencil.git
  ignore = untracked
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
  ignore = untracked
[submodule "bundle/phpcomplete-extended"]
	path = bundle/phpcomplete-extended
	url = https://github.com/m2mdas/phpcomplete-extended.git
  ignore = untracked
[submodule "bundle/vimproc.vim"]
	path = bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
  ignore = untracked
[submodule "bundle/spss-syntax-highlighting-file"]
	path = bundle/spss-syntax-highlighting-file
	url = https://github.com/vim-scripts/spss-syntax-highlighting-file.git
  ignore = untracked
[submodule "bundle/goyo.vim"]
	path = bundle/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule "bundle/vim-textobj-sentence"]
	path = bundle/vim-textobj-sentence
	url = https://github.com/reedes/vim-textobj-sentence.git
[submodule "bundle/vim-lexical"]
	path = bundle/vim-lexical
	url = https://github.com/reedes/vim-lexical
[submodule "bundle/vim-litecorrect"]
	path = bundle/vim-litecorrect
	url = https://github.com/reedes/vim-litecorrect
[submodule "bundle/vimtex"]
	path = bundle/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "bundle/vim-textobj-user"]
	path = bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "bundle/powerline"]
	path = bundle/powerline
	url = https://github.com/powerline/powerline.git
[submodule "bundle/vim-textobj-latex"]
	path = bundle/vim-textobj-latex
	url = https://github.com/rbonvall/vim-textobj-latex.git
[submodule "bundle/vim-textobj-punctuation"]
	path = bundle/vim-textobj-punctuation
	url = https://github.com/beloglazov/vim-textobj-punctuation.git
